// ==========================================================================
// Base – Lists
// ==========================================================================

ul,
ol {
  margin: 1em 0 2em;
  padding: 0 0 0 40px;

  li {
    margin-bottom: 5px;
  }
}

dl {
  &:before,
  &:after { content: ' '; display: table; }

  &:after { clear: both; }

  dt {
    display: block;
    float: left;
    width: 25%;
  }

  dd {
    display: block;
    overflow: hidden;
  }
}
